extends layout

block content
    h2 Items
    table(border='1')

        tr
            th Items
            if(items)
                each item in items
                    tr
                        td
                            a(href="/item/" + item._id.toString()) #{item.name}
                        td
                            a(href="/delete-item/" + item._id.toString()) Delete
    p
        a(href="/new-item/") New Item